body{
	background-image: url(../images/bg.jpg);
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	color: #8f8f8f;
	font: 12px Tahoma sans-serif;
	line-height: 18px;/*не общая*/
	line-height: 18px;
	margin: 0;
	min-width: 975px;
}
input[type="text"]{		/*Селектор Атрибута*/
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	color: #b2b2b2;
	height: 30px;/*32 показал photoshop*/
	height: 30px;
	padding: 0 10px;
	vertical-align: top;
}
button{
	height: 32px;
	width: 42px;
	background-color: #29c5e6;
	font-family: "Oswald", sans-serif;
	border:none;
	color: #fefefe;
}

p{
	margin: 20px 0;
}
/*Общ св-во*/
#wrapper{
	margin: auto;
	max-width: 960px;/*не даёт Wrapper растянуться 
	на весь экран (на весь Body)*/

}
header{
	padding: 20px 0;/*в photoshop 26px_27px*/
	padding: 20px 0;
}
/*Лучше по идентификатору, селектор-атрибута*/
/*Можно по идентификатору,*/
/*Но если будет несколько серчей=>одно из решений это селектор атрибута */
form[name="search"]{
	float: right;
}
nav{
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
}
nav a{
	text-decoration: none;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav li{
	list-style-position: inside;/**/
	font: 14px "Oswald",sans-serif;
	padding: 10px; /*???*/
}
/*отдельные стили для конкретного меню*/
/*Не для всей области навигации*/
.top-menu li{
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}
.top-menu li.active {
	background-color:#29c5e6;
	color:#fff; 
}
.top-menu a{
	color:#b2b2b2;
}
#heading{
	margin: 30px 0;
	background: transparent url(../images/h1-bg.png);
	padding-left: 20px;
	height: 40px; /* в янд.бр высота хединга не равна высоте шрифта 40px
	поэтому однозначно указывается*/
}
/*Для h1 bg-color не задается, если у user'a не поддерживаются изображения
=>цвет фона будет равен цвету родителя т.е body (bg-color=tranparent по умолч.)*/
h1{
	display: inline-block;
	font-size: 40px;
	font-family: "Oswald", sans-serif;
	line-height: 40px;
	background-image:url(../images/bg.jpg);

	margin: 0;
	padding: 0 10px;
}
aside{
	float: left;
	width: 250px;
}
.aside-menu li{
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}
/*псевдоклас необходим, чтобы граница у элементов заданная через св-во outline,
не выходила за рамки своего родителя*/
.aside-menu li:first-child{
	border:none;
}
.aside-menu li.active{
	color: #29c5e6;
}
.aside-menu a{
	color: #8f8f8f;
}
aside>h2{
	margin: 30px 0 0 0;
	background-color: #29c5e6;
	color: #fff;
	font:14px "Oswald",sans-serif;
	padding: 10px;
}
aside>p{
	padding: 10px;
	margin: 0;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
}
section{
	margin-left:280px;
	padding-bottom: 50px;
}
blockquote{
	font-family: "Oswald",sans-serif;
	background-color: #29c5e6;
	font-weight: 300;
	margin:0;
	padding: 10px 20px;
}
blockquote p{
	font-size: 33px;
	line-height: 34px;
	color: #fff;
	font-style: italic;
	margin: 0;
}
blockquote cite{
	display: block;/*Для позиционирования вправо*/
	text-align: right;
	font-size: 20px;
	font-style: normal;
	color: #1d8ea6;
	margin: 0;
	line-height: 34px;
}
figure{
	display: inline-block;
	margin: 0;
	font-family: "Oswald",sans-serif;
	font-weight: 300;
}
figure img{
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}
/*Выбор всех дочерних к section эл-тов figure, которые расположены
сразу после первой figure*/
section>figure+figure{
	margin-left: 30px;
}
section>h2{
	font:30px/40px "Oswald",sans-serif;
	color: #fff;
	margin: 30px 0 0 0;
	font-weight: 300;
	background-color: #29c5e6;
	padding: 0 10px;
}
figure figcaption{
	margin-top: 5px;
	font-size: 16px;
	line-height:40px; 
}
figure figcaption span{
	display: block;
	font-size: 14px;
	color: #29c5e6;
}
.team-row figure{
	margin-top: 20px;
}
.team-row figure + figure{
	margin-left: 44px;
}
.team-row figure:first-child{
	margin-left: 1px;
}
footer{
	background-color: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
}
#footer{
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 92px;
}
footer h3{
	font:14px "Oswald",sans-serif;
	color: #fff;
	border-bottom: 1px solid #919191;
	margin: 0 0 9px 0;
}
#twitter time a{
	color: #b4aeae;
	line-height: normal;
}
footer p{
	margin: 5px 0;
}
#twitter{
	float: left;
	width: 301px;
}
#twitter p{
	padding-right: 20px;
	line-height: 14px;
}
footer a{
	color: #dbdbdb;
}
#sitemap{
	width: 151px;
	float: left;
	margin-left: 18px;
	/*padding-right: 15px;*/
}
#sitemap div{
	display: inline-block;/*Чтобы ширина блочного <a> равнялась ширине его текста.*/
	display: inline-block;/*Чтобы блочные <a> не занимали всю ширину своего родителя 
div#sitemap.*/
}
#sitemap div+div{
	margin-left: 40px;
}
#sitemap a{
	display: block;
	text-decoration: none;
	font-size: 12px;
	line-height: normal;
	margin-bottom: 5px;
}
#sitemap a:hover{
	text-decoration: underline;
}
#social{
	float: left;
	margin-left: 18px;
	width: 131px;
}
.social-icon{
	width: 30px;
	height: 30px;
	background-image: url("../images/social.png");
	display: inline-block;
	margin-right: 10px;
}
.social-icon-small{
	width: 16px;
	height: 16px;
	background-image: url(../images/social-small.png);
	display: inline-block;
	margin: 5px 6px 0 0;
}
.twitter{
	background-position: 0 0;
}
.facebook{
	background-position: -31px 0;
}
.google-plus{
	background-position: -62px 0;
}
.vimeo{
	background-position: 0 0;
}
.youtube{
	background-position: -17px 0;
}
.flickr{
	background-position: -34px 0;
}
.instagram{
	background-position: -51px 0;
}
.rss{
	background-position: -68px 0;
}
#footer-logo{
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}